<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Введите ваши данные</h1>
    <form th:action="@{/}" th:method="post" th:object="${user}">
        <label for="name">Имя:</label><br>
        <input type="text" id="name" name="name" th:field="*{name}" required><br><br>

        <label for="lastName">Фамилия:</label><br>
        <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" th:field="*{email}" required><br><br>

        <button type="submit">Сохранить в БД</button>
    </form>
</div>
</body>
</html>